<settings>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <!-- Maven Central. -->
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <!-- Nepherte Releases. -->
        <repository>
          <id>nepherte</id>
          <name>Nepherte Maven Repo</name>
          <url>https://maven.nepherte.com/releases</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>github</id>
      <username>travis</username>
      <password>${env.REPO_TOKEN}</password>
    </server>
  </servers>
</settings>