<settings>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <!-- Maven Central. -->
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
          <!-- Github  -->
        <repository>
          <id>github</id>
          <name>GitHub Packages</name>
          <url>https://maven.pkg.github.com/Nepherte/commons-cli</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>github</id>
      <username>Nepherte</username>
      <password>${env.GITHUB_TOKEN}</password>
    </server>
  </servers>
</settings>