<settings>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <!-- Maven Central. -->
        <repository>
          <id>central</id>
          <name>Maven Central</name>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <!--Nepherte Central (Releases)-->
        <repository>
          <id>nepherte-releases</id>
          <name>Nepherte Central (Releases)</name>
          <url>https://mvn.nepherte.com/releases</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <!--Nepherte Central (Snapshots)-->
        <repository>
          <id>nepherte-snapshots</id>
          <name>Nepherte Central (Snapshots)</name>
          <url>https://mvn.nepherte.com/snapshots</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>nepherte-releases</id>
      <username>travis</username>
      <password>${env.REPO_TOKEN}</password>
    </server>
    <server>
      <id>nepherte-snapshots</id>
      <username>travis</username>
      <password>${env.REPO_TOKEN}</password>
    </server>
  </servers>
</settings>